# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# User-specific settings
*.suo
*Resharper*
App.config
*.user
config.js

#node
node_modules