h1= title
p Welcome to #{title}
p
	a(href='/raw/') Run lEM directly
	(br)
	a(href='/unrestricted-lcm/') Unrestricted latent class model
	(br)
	a(href='/hierarchical-llm/') Hierarchical log-linear model
