extends layout

append scripts
	script(language='Javascript', src='/javascripts/lcm.js')

append body

	.page-header: h1 Latent class model

	form.rawResponse.well#unrestrictedLcmForm(method='post', action = '')
		fieldset#modelTypeFieldset
			legend Model type
			p: label.radio
				input.required(type='radio', required, name='modelType', value='classic')
				| Classical unrestricted formulation
			p: label.radio
				input.required(type='radio', required, name='modelType', value='loglinear')
				| Log-linear unrestricted model
			p: label.radio
				input.required(type='radio', required, name='modelType', value='combined')
				| Linear-logistic unrestricted model
			p: label.radio
				input.required(type='radio', required, name='modelType', value='croon')
				| Non-parametric ordinal model (Croon's model)
		fieldset#latentFieldset
			legend Latent variables
			p: input.required(type='number', min='1', required, name='latentNumber', placeholder='Number of latent variables', data-validators='validate-integer')
		fieldset#manifestFieldset
			legend Manifest variables
			p: input.required(type='number', min='1', required, name='manifestNumber', placeholder='Number of manifest variables', data-validators='validate-integer')
		fieldset#dataTypeFieldset
			legend Data type
			p: label.radio
				input.required(type='radio', required, name='dataType', value='raw')
				| Raw data textarea (in lEM format)
			p: label.radio
				input.required(type='radio', required, name='dataType', value='plain')
				| Per-respondent answers
		fieldset#rawDataFieldset(style='display: none')
			legend Data
			p: textarea.input-xlarge.required(name='data', required, placeholder='data', rows=4)
		fieldset#plainDataFieldset(style='display: none')
			legend Data
			p: input.required(type='number', min='1', required, name='respondentsNumber', placeholder='Number of respondents')
			table.table.table-bordered.table-striped#plainDataTable
				thead
					tr
						th Respondent number
				tbody
		p: button.btn.btn-primary(type='submit')
			i.icon-ok
			|  Submit

	include includes/rawResponse
