extends layout

append body

	.page-header: h1 Direct lEM interoperation

	form.rawResponse.well(method='post', action = '')
		h3 Enter your commands here:
		p
			textarea.input-xlarge.required(name='commands', rows=20, cols=80, title='Enter your commands here')
		p
			button.btn(type='submit') Run

	div#resultContainer(style='display:none')
		h3 Result
		pre#resultPlaceholder
