h1 Direct lEM interoperation

form(method='post', action = '', class='rawResponse')
	h3 Enter your commands here:
	p
		textarea(class='required', name='commands', rows=20, cols=80, title='Enter your commands here')
	p
		input(type='submit', value='Run')

div(id='resultContainer', style='display:none')
	h3 Result
	pre(id='resultPlaceholder')
