h1 Direct lEM interoperation

form.rawResponse(method='post', action = '')
	h3 Enter your commands here:
	p
		textarea.required(name='commands', rows=20, cols=80, title='Enter your commands here')
	p
		input(type='submit', value='Run')

div.resultContainer(style='display:none')
	h3 Result
	pre.resultPlaceholder
