script(language='Javascript', src='/javascripts/unrestricted-lcm.js')

h1 Unrestricted latent class model

form.rawResponse#unrestrictedLcmForm(method='post', action = '')
	#latentFieldset
		p: input(type='text', name='latentNumber', title='Number of latent variables', data-validators='validate-integer')
	#manifestFieldset
		p: input(type='text', name='manifestNumber', title='Number of manifest variables', data-validators='validate-integer')
	p: textarea(name='data', title='data')
	p: input(type='submit', value='submit')

div#resultContainer(style='display:none')
	h3 Result
	pre#resultPlaceholder
