extends layout

append scripts
	script(language='Javascript', src='/javascripts/unrestricted-lcm.js')

append body

	.page-header: h1 Unrestricted latent class model

	form.rawResponse.well#unrestrictedLcmForm(method='post', action = '')
		fieldset#latentFieldset
			legend Latent variables
			p: input.required(type='number', min='1', required, name='latentNumber', placeholder='Number of latent variables', data-validators='validate-integer')
		fieldset#manifestFieldset
			legend Manifest variables
			p: input.required(type='number', min='1', required, name='manifestNumber', placeholder='Number of manifest variables', data-validators='validate-integer')
		fieldset
			legend Data
			p: textarea.input-xlarge.required(name='data', required, placeholder='data', rows=4)
		p: button.btn(type='submit') Submit

	div#resultContainer(style='display:none')
		h3 Commands
		pre#commandsPlaceholder
		h3 Errors
		pre#errorsPlaceholder
		h3 Result
		pre#resultPlaceholder
