div#responseContainer(style='display:none')
	div#commandsContainer(style='display:none')
		h3 Commands
		pre#commandsPlaceholder
	div#validationErrorsContainer(style='display:none')
		h3 Validation errors
		pre#validationErrorsPlaceholder
	div#errorsContainer(style='display:none')
		h3 Errors
		pre#errorsPlaceholder
	div#resultContainer(style='display:none')
		h3 Result
		pre#resultPlaceholder
